/* Footer */

/*.footer {
  padding-top: 15px;
	padding-bottom: 15px;
}*/

.resourcesContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.resources {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}


.footerContainer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.fa {
	padding: 5px;
	color: white;
}

.faBtns {
	display: flex;
	flex-direction: row;
}
