/* Footer */

footer {
  margin-top: 40px;
}

.footerContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.faBtns {
  font-size: 1.4em;
  margin: 0 0 10px 0;
}

.mdnLicense {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}
