/* Img */

.imgCiteRow {
  margin-top: 10px;
}

/*
    Sizes
 */
.imgSizeSmall {
  /*max-width: 30%;*/
  max-width: 200px;
}
.imgSizeMedium {
  max-width: 70%;
}
.imgSizeLarge {
  max-width: 100%;
}
.imgSizeInline {
  max-width: 50px;
}
.imgInline {
  display: inline;
}
.returnedNothing {
  font-weight: bold;
  color: red;
}
