.sudoH1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  color: #2a9fd6;
}
.sudoH6 {
  font-size: 12px;
  line-height: 1.1;
  color: #2a9fd6;
}
.imgSmall {
  width: 7%;
  margin-left: 20px;
}
