/* Footer */

.footerContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
}

.faBtns {
  margin: 0 0 10px 0;
  font-size: 1.4em;
}

.mdnLicense {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 30px;
}
