.bgGray {
  background-color: gray;
}
.samplePage {
  padding: 10px 15px 10px 15px
}
.indent2 {
  margin-left: 20px;
}
.indent4 {
  margin-left: 40px;
}
.indent6 {
  margin-left: 60px;
}
.indent8 {
  margin-left: 80px;
}

.fileStructure {
  list-style: none;
  line-height: 24px;
}

.redText {
  color: red;
}
