/* SiteTitle */

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout p:last-child {
  margin-bottom: 0px;
}
.callout h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
.callout h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.calloutMedium {
  max-width: 70%;
}
.calloutDanger {
  border-left-color: #ce4844;
  background-color: rgb(242, 222, 222);
  color: black;
}
h4 {
  color: #ce4844;
}
.calloutWarning {
  background-color: #fff9cc;
  border-left-color: #ffe202;
  color: black;
}
.calloutWarning h4 {
  color: #aa6708;
}
.calloutWarning h3 {
  color: #aa6708;
}

.calloutInfo {
  color: black;
  margin: 20px 0;
  padding: 20px;
}
.calloutInfo h4 {
  color: #1b809e;
}
.calloutGoal {
  color: black;
  margin: 20px 0;
  padding: 20px;
}
.calloutGoal h4 {
  color: #008000;
}
.callout code {
  border-radius: 3px;
}
/* Tighten up space between multiple callouts */
.callout + .callout {
  margin-top: -5px;
}
