/* PageTitle */
.pageHeader {
  display: flex;
  flex-flow: column nowrap;
  padding: 25px 0 15px 0;
}
.pageTitles {
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(35, 35, 35);
  color: white;
  font-weight: bold;
  padding: 10px 0;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: 0;
  /*font-family: 'Roboto', sans-serif;*/
}
.titles {
  text-align: center;
}
.subTitle {
  color: rgb(200, 200, 200);
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  margin: 10px 0 0 0;
}
.spacer {
  width: 48.88px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 25px;
}
.left {
  flex-basis: 35%;
}
.center {
  flex-basis: 30%;
  text-align: center;
}
.right {
  flex-basis: 35%;
  text-align: right;
}
